@font-face {
  font-family: 'AGaramond LT';
  src: url('/fonts/AGaramondLT-Bold.woff2') format('woff2'),
       url('/fonts/AGaramondLT-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: optional; /* Wait for custom font instead of showing fallback */
}

@font-face {
  font-family: 'Poppins-Medium';
  src: url('/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}

@font-face {
  font-family: 'Poppins-Semibold';
  src: url('/fonts/POPPINS-SEMIBOLD.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: optional;
}


/* Apply the font globally */
body {
  overflow-x: hidden;  
   
  }

  .wrapper {
    min-height: 100vh; /* First section for the background image */
    background-image: url('/heroSectionBackground.svg');
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain; 
    background-color: black;
  }
  
  .gradient-section {
    background: radial-gradient(circle, rgb(9, 11, 9) 9%, rgba(0, 0, 0, 1) 96%);
    background-repeat: repeat-y;
    background-size: 100% 100vh;
    position: relative;
  }

  .gradient-section::before {
    content: "";
    position: absolute;
    top: -5vh;
    height: 10vh;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(9, 11, 9, 0));
    z-index: 1;
  }
    
    

