@font-face {
  font-family: 'Adobe Garamound';
  src: url('/fonts/Adobe Garamond LT Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-Medium';
  src: url('/fonts/Poppins-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Poppins-Semibold';
  src: url('/fonts/POPPINS-SEMIBOLD.TTF') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Apply the font globally */
body {
  font-family: 'Poppins-Medium';
}